<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Belajar bootstrap</title>
  </head>
  
    <h1> Belajar bootstrap</h1>

    <h2> ALL in one container</h2>
    <div class="container">
        <!-- Content here -->
      </div>

  <h2>Fluid</h2>
  <div class="container-fluid">
    ...
  </div>
<h2>Responsi</h2>
  <div class="container-sm">100% wide until small breakpoint</div>
<div class="container-md">100% wide until medium breakpoint</div>
<div class="container-lg">100% wide until large breakpoint</div>
<div class="container-xl">100% wide until extra large breakpoint</div>


  <!-- js offline -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.slim.min.js"></script>
  </body>
</html>